@model Crud.Models.ViewModels.NuevoUsuarioViewModel
@{
    ViewBag.Title = "Editar usuario";
}

<h2>@ViewBag.Title</h2>



<form method="post" action="/Usuarios/Editar">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12" style="margin:5px">
                <input type="hidden" name="txtIdUsuario" readonly value="@Model.IdUsuario" />
            </div>

            <div class="col-md-12" style="margin:5px">
                <label class="col-md-3" for="txtNombre">Ingrese Nombre: </label>
                <input class="col-md-3" type="text" name="txtNombre" placeholder="Juan" value="@Model.Nombre" />
            </div>

            <div class="col-md-12" style="margin:5px">
                <label class="col-md-3" for="txtUserName">Ingrese Nickname: </label>
                <input class="col-md-3" type="text" name="txtUserName" placeholder="juancito22" value="@Model.UserName" />
            </div>

            <div class="col-md-12" style="margin:5px">
                <label class="col-md-3" for="txtEmail">Ingrese Email: </label>
                <input class="col-md-3" type="email" name="txtEmail" placeholder="juancito22@mimail.com" value="@Model.Email" />
            </div>

            <div class="col-md-12" style="margin:5px">
                <label class="col-md-3" for="txtTelefono">Ingrese Teléfono: </label>
                <input class="col-md-3" type="number" name="txtTelefono" min="40000000" max="1599999999" placeholder="1122336655" value="@Model.Telefono" />
            </div>

            <div class="col-md-12" style="margin:5px">
                <input class="col-md-2" type="submit" name="btnEnviar" value="Enviar datos" />
            </div>

        </div>


    </div>
</form>

